@{
    ViewData["Title"] = "Home Page";
}
@model List<Employee>

@* <input type="type" name="name" value="" placeholder="Input Name" id="nameInput"/>
    <button id="btnName" style="width"></button> *@

<div class="text-center">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
            @{
                int stt = 1;
            }
            @foreach(var employee in Model)
            {
                <tr class="infoEmployee" data-url="@Url.Action("Detail","Home", new {id = employee.Id})" >
                    <td style="width: 80px">@stt</td>
                    <td>@employee.Name</td>
                    <td>@employee.Age</td>
                    <td>@employee.Address</td>
                </tr>
                stt++;
            }
        </tbody>
    </table>
    <p>@ViewBag.Message</p>
</div>
